<div style="display: flex; 
  border: 2px solid black; 
  height: 100vh; 
  text-justify: auto; 
  justify-content: center; 
  flex-direction: column; 
  font-family: Kanit;
  font-size: larger;">
  <div style="text-align: center;">
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
      <ul style="font-size: small;">
        <li *ngFor="let captionItem of captionList">{{captionItem.message}}</li>
      </ul>
      <ul style="font-size: small;">
        <li *ngFor="let captionItem of usedCaptionList">{{captionItem.message}}</li>
      </ul>
    </div>

    <div *ngIf="title">Caption : {{ title }}</div>
    <img [src]="imgSrc" style="width: 200px; margin: 10px;">
    <!--ออกสอบ *ngIf="value" if title=null | false : print Emtry(not display 'Caption' )-->
    <div>
      <button [draggable]="!title" class="btn btn-warning" (click)="handleClickButton()">
        Next Caption
      </button>
    </div>
    <!--[disabled]="!value" if title = null | true : print Emtry button-->
  </div>
</div>